ol>li:first-child ul li {
    color: red;
} 

li {
    color: black;
}

p span span{
    color: pink;
 }

 h1:nth-child(1) {
    color: black;
 }
 
 /* li:first-child{
    color: blue;
 } */

 li:nth-of-type(4) {
    color:gray;
 }
 ol>li:first-child{
    color: blue;
 }
ol>li:first-child ul li:last-child{
    color: green;
}






    
 